# This configuration file contains static configuration for Apacha Felix

# The startlevel is defaulted to 1 for the framework and 2 for everything else
felix.startlevel.framework=1
felix.startlevel.bundle=2
org.osgi.framework.startlevel.beginning=2

# These directories are used for storage
org.osgi.framework.storage=/var/cache/felix
felix.cm.dir=/etc/felix/config

# Bundles in this directory are automatically deployed at boot
felix.auto.deploy.dir=/usr/lib/felix
felix.auto.deploy.action=install,update,start

# Remote shell configuration
osgi.shell.telnet.ip=127.0.0.1
osgi.shell.telnet.port=6666
osgi.shell.telnet.maxconn=1
osgi.shell.telnet.socketTimeout=0

